/* ref. http://dec0de.me/2012/10/pure-css-bubbles/ */
.bubble {
  background-color: #555;
  border-radius: 5px;
  border: 1px solid #444;
  box-shadow: 0 1px 6px #333;
  display: block;
  padding: 10px 18px;
  margin: 1em 18px;
  position: relative;
  vertical-align: top;
}

.tail {
  position: absolute;
  height: 18px;
  width: 18px;
  overflow: hidden;
}

.tail:before {
  border: 1px solid #444;
  background-color: #555;
  box-shadow: 0 1px 6px #333;
  content: "\00a0";
  display: block;
  position: absolute;
  top: 0px;
  height: 12px;
  width: 12px;
}

.bubble.left {
  text-align: left;
}

.bubble.left .tail {
  top: 12px;
  left: -18px;
}

.bubble.left .tail:before {
  left: 12px;
  -webkit-transform: skewX(-125deg);
  -moz-transform: skewX(-125deg);
  -o-transform: skewX(-125deg);
}

.bubble.right {
  text-align: right;
}

.bubble.right .tail {
  top: 12px;
  right: -18px;
}

.bubble.right .tail:before {
  right: 12px;
  -webkit-transform: skewX(125deg);
  -moz-transform: skewX(125deg);
  -o-transform: skewX(125deg);
}
