* {
    margin: 0;
}
html, body {
    height: 100%;
    background-color: #0f0;
    overflow:hidden;

    font-size: 32px;
    color: white;
    text-shadow: 1px 1px 2px #000; /* horizontal-offset vertical-offset 'blur' colour */
    -moz-text-shadow: 0 0 1px #000;
    -webkit-text-shadow: 0 0 1px #000;
    line-height: 140%;
    word-wrap: break-word;
}
